@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 50px;
  }
  

:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background: #FFF0C2;
    color: #000000;
    scroll-behavior: smooth;
}

.bg-image {
    background-image: url("./assets/jason-root.webp");
}

#work, #about, #experience, #testimonials, #contact {
    scroll-margin-top: 80px;
}